.container {
  background-color: rgb(171, 223, 240);
  height: 100vh;
  width: 100%;
  justify-content: space-between;
}

.box {
  position: relative;
  top: 25%;
  right: 30%;
  left: 40%;
  background-color: rgb(118, 166, 255);
  border-radius: 7px;
  height: auto;
  width: 20%;
  padding: 3px 30px;
}

.heading {
  color: #fff;
  text-align: center;
  margin-bottom: 10px;
}

.email-box {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0;
  color: #fff;
}

input[type="text"],
[type="password"] {
  padding: 5px;
}

.password-box {
  display: flex;
  flex-direction: column;
}

.button-box {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.signin {
  margin: 5px 0;
  padding: 5px;
  background-color: #1226dd;
  color: #fff;
  width: 100%;
}

.signup {
  margin: 5px 0;
  padding: 5px;
  background-color: rgb(126, 44, 44);
  color: #fff;
  width: 100%;
}

.signin:hover {
  background-color: #3748da;
}

.signup:hover {
  background-color: rgb(136, 60, 60);
}
